Tests: services-test.sh
Depends: apt-file,
  procps,
  psmisc,
  rsyslog,
  dbus,
Restrictions: needs-root, breaks-testbed, flaky, allow-stderr

Tests: binpath-test.sh
Depends: apt-file,
Restrictions: needs-root, allow-stderr
